.jc-number {
	display: inline-block;
	border: 1px solid #eee;
	border-radius: 3px;
	line-height: 30px;
	text-align: center;
}

.jc-number a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 30px;
	background-color: #eee;
}

.jc-number a[disabled] {
	opacity: .3;
	cursor: not-allowed;
}

.jc-number input {
	width: 40px;
	border: none;
	outline: none;
	text-align: center;
	user-select: none;
}
